
.caise{
            font-weight: bold;
            background: linear-gradient(to right, red,green, blue);
            -webkit-background-clip: text;
            color: transparent;
            animation: blink 2s linear infinite;
            -webkit-animation: blink 2s linear infinite;
            -moz-animation: blink 2s linear infinite;
            -ms-animation: blink 2s linear infinite;
            -o-animation: blink 2s linear infinite;
          }
          .shj{
            font-weight: bold;
            background: linear-gradient(to right, BLACK,gold,BLACK,YELLOW, gold,BLACK, gold,BLACK, gold,BLACK);
            -webkit-background-clip: text;
            color: transparent;
            animation: blink 2s linear infinite;
            -webkit-animation: blink 2s linear infinite;
            -moz-animation: blink 2s linear infinite;
            -ms-animation: blink 2s linear infinite;
            -o-animation: blink 2s linear infinite;
          }
           .yxmr{
            font-weight: bold;
            background: linear-gradient(to right,LawnGreen,red,LawnGreen,red,LawnGreen,red,LawnGreen,red);
            -webkit-background-clip: text;
            color: transparent;
            animation: blink 2s linear infinite;
            -webkit-animation: blink 2s linear infinite;
            -moz-animation: blink 2s linear infinite;
            -ms-animation: blink 2s linear infinite;
            -o-animation: blink 2s linear infinite;
          }
          .red{
            font-weight: bold;
            background: linear-gradient(to right, BLACK,red,red);
            -webkit-background-clip: text;
            color: transparent;
            animation: blink 2s linear infinite;
            -webkit-animation: blink 2s linear infinite;
            -moz-animation: blink 2s linear infinite;
            -ms-animation: blink 2s linear infinite;
            -o-animation: blink 2s linear infinite;
          }
 @keyframes blink{
            0%{opacity: 1;}
            50%{opacity: 0.5;}
            100%{opacity: 0.8;}
          }
          @-webkit-keyframes blink {
            0% { opacity: 1; }
            50%{ opacity: 0.5;}
            100% { opacity: 0.8; }
          }
          @-moz-keyframes blink {
            0% { opacity: 1; }
            50%{ opacity: 0.5; }
            100% { opacity: 0.8; }
          }
          @-ms-keyframes blink {
            0% { opacity: 1; }
            50%{ opacity: 0.5; }
            100% { opacity: 0.8;}
          }
          @-o-keyframes blink {
            0% { opacity: 1; }
            50%{ opacity: 0.5; }
            100% { opacity: 0.8; }
          }